@import "tailwindcss";

@layer components {
  .btn-primary {
    padding: 0.5rem 1.5rem;
    background-color: #16a34a;
    color: white;
    border-radius: 9999px;
    transition: background-color 300ms;
  }

  .btn-primary:hover {
    background-color: #15803d;
  }
}